[main]
host = https://www.transifex.com

[cotonti.modules_pfs]
source_file = modules/pfs/lang/pfs.en.lang.php
file_filter = modules/pfs/lang/pfs.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.modules_forums]
source_file = modules/forums/lang/forums.en.lang.php
file_filter = modules/forums/lang/forums.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.modules_page]
source_file = modules/page/lang/page.en.lang.php
file_filter = modules/page/lang/page.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.modules_index]
source_file = modules/index/lang/index.en.lang.php
file_filter = modules/index/lang/index.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.modules_users]
source_file = modules/users/lang/users.en.lang.php
file_filter = modules/users/lang/users.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.modules_install]
source_file = modules/install/lang/install.en.lang.php
file_filter = modules/install/lang/install.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.modules_rss]
source_file = modules/rss/lang/rss.en.lang.php
file_filter = modules/rss/lang/rss.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.modules_polls]
source_file = modules/polls/lang/polls.en.lang.php
file_filter = modules/polls/lang/polls.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.modules_pm]
source_file = modules/pm/lang/pm.en.lang.php
file_filter = modules/pm/lang/pm.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.lang_message]
source_file = lang/en/message.en.lang.php
file_filter = lang/<lang>/message.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.lang_main]
source_file = lang/en/main.en.lang.php
file_filter = lang/<lang>/main.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.lang_admin]
source_file = lang/en/admin.en.lang.php
file_filter = lang/<lang>/admin.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.lang_users]
source_file = lang/en/users.en.lang.php
file_filter = lang/<lang>/users.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.lang_countries]
source_file = lang/en/countries.en.lang.php
file_filter = lang/<lang>/countries.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_autocomplete]
source_file = plugins/autocomplete/lang/autocomplete.en.lang.php
file_filter = plugins/autocomplete/lang/autocomplete.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_userimages]
source_file = plugins/userimages/lang/userimages.en.lang.php
file_filter = plugins/userimages/lang/userimages.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_hiddengroups]
source_file = plugins/hiddengroups/lang/hiddengroups.en.lang.php
file_filter = plugins/hiddengroups/lang/hiddengroups.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_mcaptcha]
source_file = plugins/mcaptcha/lang/mcaptcha.en.lang.php
file_filter = plugins/mcaptcha/lang/mcaptcha.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_autoalias2]
source_file = plugins/autoalias2/lang/autoalias2.en.lang.php
file_filter = plugins/autoalias2/lang/autoalias2.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_urleditor]
source_file = plugins/urleditor/lang/urleditor.en.lang.php
file_filter = plugins/urleditor/lang/urleditor.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_ratings]
source_file = plugins/ratings/lang/ratings.en.lang.php
file_filter = plugins/ratings/lang/ratings.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_markitup]
source_file = plugins/markitup/lang/markitup.en.lang.php
file_filter = plugins/markitup/lang/markitup.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_referers]
source_file = plugins/referers/lang/referers.en.lang.php
file_filter = plugins/referers/lang/referers.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_comments]
source_file = plugins/comments/lang/comments.en.lang.php
file_filter = plugins/comments/lang/comments.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_news]
source_file = plugins/news/lang/news.en.lang.php
file_filter = plugins/news/lang/news.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_tags]
source_file = plugins/tags/lang/tags.en.lang.php
file_filter = plugins/tags/lang/tags.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_statistics]
source_file = plugins/statistics/lang/statistics.en.lang.php
file_filter = plugins/statistics/lang/statistics.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_i18n]
source_file = plugins/i18n/lang/i18n.en.lang.php
file_filter = plugins/i18n/lang/i18n.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_genoa]
source_file = plugins/genoa/lang/genoa.en.lang.php
file_filter = plugins/genoa/lang/genoa.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_whosonline]
source_file = plugins/whosonline/lang/whosonline.en.lang.php
file_filter = plugins/whosonline/lang/whosonline.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_contact]
source_file = plugins/contact/lang/contact.en.lang.php
file_filter = plugins/contact/lang/contact.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_trashcan]
source_file = plugins/trashcan/lang/trashcan.en.lang.php
file_filter = plugins/trashcan/lang/trashcan.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_banlist]
source_file = plugins/banlist/lang/banlist.en.lang.php
file_filter = plugins/banlist/lang/banlist.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_search]
source_file = plugins/search/lang/search.en.lang.php
file_filter = plugins/search/lang/search.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_bbcode]
source_file = plugins/bbcode/lang/bbcode.en.lang.php
file_filter = plugins/bbcode/lang/bbcode.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_sitemap]
source_file = plugins/sitemap/lang/sitemap.en.lang.php
file_filter = plugins/sitemap/lang/sitemap.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_cleaner]
source_file = plugins/cleaner/lang/cleaner.en.lang.php
file_filter = plugins/cleaner/lang/cleaner.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_recentitems]
source_file = plugins/recentitems/lang/recentitems.en.lang.php
file_filter = plugins/recentitems/lang/recentitems.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_hits]
source_file = plugins/hits/lang/hits.en.lang.php
file_filter = plugins/hits/lang/hits.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_htmlpurifier]
source_file = plugins/htmlpurifier/lang/htmlpurifier.en.lang.php
file_filter = plugins/htmlpurifier/lang/htmlpurifier.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_ipsearch]
source_file = plugins/ipsearch/lang/ipsearch.en.lang.php
file_filter = plugins/ipsearch/lang/ipsearch.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_ckeditor]
source_file = plugins/ckeditor/lang/ckeditor.en.lang.php
file_filter = plugins/ckeditor/lang/ckeditor.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.plugins_html]
source_file = plugins/html/lang/html.en.lang.php
file_filter = plugins/html/lang/html.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.themes_nemesis]
source_file = themes/nemesis/nemesis.en.lang.php
file_filter = themes/nemesis/nemesis.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY

[cotonti.themes_symisun-03]
source_file = themes/symisun-03/symisun-03.en.lang.php
file_filter = themes/symisun-03/symisun-03.<lang>.lang.php
source_lang = en
type = PHP_ALT_ARRAY
